<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name ="SourceRepositoryProvider" type="FileSystemStorageProvider.FileSystemStorageProvider, FileSystemStorageProvider"/>
    <section name ="SourceRepositoryProvider" type="sFTPStorageProvider.sFTPStorageProvider, sFTPStorageProvider"/>-->
    <section name ="SourceRepositoryProvider" type="AzureStorageProvider.AzureStorageProvider, AzureStorageProvider"/>
    <section name ="DestinationRepositoryProvider" type="FileSystemStorageProvider.FileSystemStorageProvider, FileSystemStorageProvider"/>
  </configSections>
  <!--<SourceRepositoryProvider RepositoryPath="/PackageRepository" Host="server" UserName="uid" Password="pass" Port="22">
  </SourceRepositoryProvider>-->

  <SourceRepositoryProvider RepositoryPath="\\fs18tfs\BuildShare\MF11\Apps">
  </SourceRepositoryProvider>
  
  <DestinationRepositoryProvider RepositoryPath="E:\MPackLocalRepository"></DestinationRepositoryProvider>

  <appSettings>
    <add key="ManifestFileName" value="Manifest.xml"/>
    <add key="XPathToGetAppNameInManifest" value="Package/@Name"/>
    <add key="XPathToGetAppVersionInManifest" value="Package/@Version"/>
    <add key="XPathToDependencyAppName" value="/Package/Dependecies/Package/@Name"/>
    <add key="XPathToDependencyAppVersion" value="/Package/Dependecies/Package/@Version"/>

    <add key="PackageRepositoryPath" value="C:\Users\Khalid\Desktop\MediusflowMarket\PackageRepository"/>
    <add key="PackageRepositoryTempPath" value="C:\Users\Khalid\Desktop\MediusflowMarket\Temp"/>
  </appSettings>

</configuration>