<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ManifestFileName" value="Manifest.xml"/>
    <add key="PackageRepositoryPath" value="C:\Users\Khalid\Desktop\MediusflowMarket\PackageRepository"/>
    <add key="PackageRepositoryTempPath" value="C:\Users\Khalid\Desktop\MediusflowMarket\Temp"/>
  </appSettings>
</configuration>